body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* styling for notes */
.app-container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.notes-list-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note-container {
  background-color: yellow;
  /* keep white space when saving a note with breaks */
  white-space: pre-wrap;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* any classname with BOTH .note-container AND .new */
.note-container.new {
  background-color: aqua;
}

textarea {
  border: none;
  resize: none;
  background-color: aqua;
}

/* add sudo element of focus */
textarea:focus {
  outline: none;
}

.save-button {
  background-color: grey;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5 px 10px
}

.save-button:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.delete-button {
  cursor: pointer;
}

/* .delete-button:hover {

} */